[Unit]
Description=auto git tool script service
Documentation=
After=networking.service

[Service]
Type=simple
User=kanikama0601
Group=kanikama0601
TimeoutStartSec=0
Restart=on-failure
RestartSec=30s
#ExecStartPre=
ExecStart=/usr/bin/auto_git_tool.sh
SyslogIdentifier=Diskutilization
#ExecStop=

[Install]
WantedBy=multi-user.target
